name: Veracode Build Ruby Code Package

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string
      token:
        required: true
        type: string
      actions_runs_on:
        required: true
        type: string
      actions_packager_image:
        required: true
        type: string
      build_predenpendency_command:
        required: true
        type: string
      ruby_version:
        required: true
        type: string
      bundle_version:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ inputs.actions_runs_on }}
    container:
      image: ${{ inputs.actions_packager_image }}
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ inputs.ref }}
        token: ${{ inputs.token }}

    - uses: actions/checkout@v4
      with:
        path: 'veracode-helper'
    
    - name: Package the application
      id: application_package
      shell: bash
      env:
        VERACODE_API_KEY_ID: '${{ secrets.VERACODE_API_ID }}'
        VERACODE_API_KEY_SECRET: '${{ secrets.VERACODE_API_KEY }}'
      run: |
        source /etc/profile.d/rvm.sh
        rvm pkg install openssl
        rvm install ruby-${{ inputs.ruby_version }}

        working_path=`pwd`
        echo "working_dir=$working_path" >> "$GITHUB_OUTPUT"
        cd veracode-helper/helper/cli
        cliFile=$(ls -1 . | head -n 1)
        cliFileName=$(echo "$cliFile" | cut -c 1-$((${#cliFile}-7)))
        tar -zxvf $cliFile
        cd $cliFileName
        export PATH="veracode-helper/helper/cli/$cliFileName:$PATH"
        #cd /__w/veracode/veracode
        cd $working_path

        gem install bundler -v ${{ inputs.bundle_version }}
        gem install veracode
        bundle install
        ${{ inputs.build_predenpendency_command }}
        
        veracode package --source . --output veracode-artifacts --trust
        zip veracode-artifact.zip veracode-artifacts/* -x .zip .tar .tar.gz .gz
        
    - name: Package error
      if: failure() && steps.application_package.outcome == 'failure'
      run: |
        echo "::error::Veracode static scan faced a problem. Please contact your Veracode administrator for more information."

    - uses: actions/upload-artifact@v4
      with:
        name: veracode-artifact
        path: "${{ steps.application_package.outputs.working_dir }}/veracode-artifacts/*"
        if-no-files-found: error
